.container {
	width: 633px;
	padding: 20px;
	font-size: 40px;
	color: white;
	background-color: #282c34;
}

.screen {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 120px;
	padding: 0 10px;
}

.resultColor {
	color: blue;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.buttonsGroupLeft {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.buttonsGroupRight {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.button {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-basis: 120px;
	margin: 5px;
	font-size: 40px;
}
